@model Project_AkmalRentals.Models.tb_paycleaner

@{
    ViewBag.Title = "Create";
}

<style>
    .form-container {
        padding-left: 20px; /* Adjust the value as needed */
    }

    .column1 {
        width: 200px;
    }

    .column2 {
        width: 50px;
    }
    /* Add more CSS rules for other columns as needed */
</style>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-dark shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3 text-center">ADD PAYMENT FOR CLEANER</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2 p-0">
                    @using (Html.BeginForm("Create", "Paycleaner", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal form-container">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.pc_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.pc_Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                    @Html.ValidationMessageFor(model => model.pc_Date, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pc_Category" class="control-label col-md-2">Category</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("pc_category", null, "-- Select Category --", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.pc_Category, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pc_Payment" class="control-label col-md-2">Payment</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.pc_Payment, new SelectList(new[] { "Bank", "Cash" }), "-- Select Payment --", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.pc_Payment, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.pc_CleanerId, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("pc_CleanerId", null, "-- Select Cleaner --", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.pc_CleanerId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.pc_Amount, "Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.pc_Amount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.pc_Amount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pc_Receipt" class="control-label col-md-2">Receipt</label>
                                <div class="col-md-10">
                                    @Html.TextBox("file", "", new { type = "file", @class = "formcontrol" })
                                    @Html.ValidationMessageFor(model => model.pc_Receipt, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <br />
                             <br />
                             <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("Return", "Index", null, new { @class = "btn btn-outline-dark" })
                                <input type="submit" value="Create" class="btn btn-dark-blue " />
                             </div>
                        </div>
                    }
                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                </div>
            </div>
        </div>
    </div>
</div>

