@model Project_AkmalRentals.Models.tb_payment

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Payment", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>tb_payment</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.p_Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.p_Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @Html.ValidationMessageFor(model => model.p_Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="p_Category" class="control-label col-md-2">Category</label>
        <div class="col-md-10">
            @Html.DropDownList("p_Category", null, "-- Select Category --", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.p_Category, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="p_Payment" class="control-label col-md-2">Payment</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.p_Payment, new SelectList(new[] { "Bank", "Cash" }), "-- Select Payment --", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.p_Payment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.p_TenantId, "p_TenantId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("p_TenantId", null, "-- Select Tenant --", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.p_TenantId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.p_Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.p_Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.p_Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="p_Receipt" class="control-label col-md-2">Receipt</label>
        <div class="col-md-10">
            @Html.TextBox("file", "", new { type = "file", @class = "formcontrol" })
            @Html.ValidationMessageFor(model => model.p_Receipt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
