@model Project_AkmalRentals.ViewModel.Dashboard_Property

@{
    ViewBag.Title = "DashboardProperty";
}


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="page-header min-height-200 border-radius-xl mt-4" style="background-image: url('/Content/assets/img/bg1.jpg');">
    <h3 class="text-white mb-6 offset-4" style="position: relative; z-index: 1;">Property Dashboard</h3>
    <span class="mask  bg-gradient-dark  opacity-6"></span>
</div>

<div class="row mx-3 mt-n6">
    <div class="col-md-4 col-4">
        <div class="card card-body blur shadow-blur overflow-hidden">
            <div class="row gx-4">
                <div class="col-auto">
                    <div class="icon icon-shape icon-lg bg-gradient-warning shadow text-center border-radius-lg">
                        <i class="material-symbols-outlined opacity-10 large-icon">location_city</i>
                    </div>

                </div>
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <p class="mb-1">Total Property</p>
                        <h5 class="mb-0 font-weight-bolder">@ViewBag.Property</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                    <div class="nav-wrapper position-relative end-0">
                        <div class="text-end">
                            <a href="@Url.Action("Index", "FloorLayout")" data-bs-toggle="tooltip" data-bs-placement="top" title="View Property"><i class="material-icons me-2">arrow_forward_ios</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-4">
        <div class="card card-body blur shadow-blur overflow-hidden">
            <div class="row gx-4">
                <div class="col-auto">
                    <div class="icon icon-shape icon-lg bg-gradient-warning shadow text-center border-radius-lg">
                        <i class="material-symbols-outlined opacity-10">bed</i>
                    </div>
                </div>
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <p class="mb-1">Inventory</p>
                        <h5 class="mb-0 font-weight-bolder"></h5>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3" style="margin-top: 10px;">
                    <div class="nav-wrapper position-relative end-0">
                        <div class="text-end">
                            <a href="@Url.Action("Index", "Inventory")" data-bs-toggle="tooltip" data-bs-placement="top" title="View Inventory">
                                <i class="material-icons me-2">arrow_forward_ios</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-4">
        <div class="card card-body blur shadow-blur overflow-hidden">
            <div class="row gx-4">
                <div class="col-auto">
                    <div class="icon icon-shape icon-lg bg-gradient-warning shadow text-center border-radius-lg">
                        <i class="material-symbols-outlined opacity-10">new_releases</i>
                    </div>
                </div>
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <p class="mb-1">Available Rooms</p>
                        <h5 class="mb-0 font-weight-bolder">@ViewBag.Availability</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                    <div class="nav-wrapper position-relative end-0">
                        <div class="text-end">
                            <a href="@Url.Action("Index", "Room")" data-bs-toggle="tooltip" data-bs-placement="top" title="View Rooms"><i class="material-icons me-2">arrow_forward_ios</i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row mx-3 mt-4">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header pb-0 text-center">
                <h6>Occupancy Rate</h6>
            </div>
            <div class="card-body p-3">
                <div class="chart">
                    <canvas id="myChart" width="400" height="400"></canvas>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header pb-0 text-center">
                <h6>Property Lists</h6>
            </div>
            <table class="table table-sm text-center">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">@Html.DisplayNameFor(model => model.y_location)</th>
                        <th class="text-secondary text-uppercase text-xs font-weight-bolder opacity-7">@Html.DisplayNameFor(model => model.y_desc)</th>
                        <th class="text-secondary opacity-7"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Floors)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.y_location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.y_desc)
                            </td>
                            <td class="align-middle text-center">
                                <a href="@Url.Action("Details", "FloorLayout", new { id = item.y_id })" class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top" title="View Layout">visibility</a>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="card-body p-3">

            </div>
        </div>
    </div>
</div>

<script src="~/Content/assets/js/plugins/chartjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    $(document).ready(function () {

        $('[data-bs-toggle="tooltip"]').tooltip();

    });
</script>


<script>
    // Get the canvas element
    var ctx = document.getElementById("myChart").getContext("2d");

    // Define the data for the chart
    var chartData = {
        labels: ["Available", "Unavailable"],
        datasets: [{
            data: [@ViewBag.Availability, @Model.Rooms.Count() - @ViewBag.Availability],
            backgroundColor: ["#f85000", "#fccb06"],
            hoverBackgroundColor: ["#f85000", "#fccb06"]
        }]
    };

    // Create the doughnut chart
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: chartData,
        options: {
            responsive: true,
            maintainAspectRatio: false,
        }
    });
</script>

