@model Project_AkmalRentals.Models.tb_paylandlord

@{
    ViewBag.Title = "Create";
}

<style>
    .form-container {
        padding-left: 20px; /* Adjust the value as needed */
    }

    .column1 {
        width: 200px;
    }

    .column2 {
        width: 50px;
    }
    /* Add more CSS rules for other columns as needed */
</style>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-dark shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3 text-center">ADD PAYMENT FOR LANDLORD</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2 p-0">
                    @using (Html.BeginForm("Create", "Paylandlord", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal form-container">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.pl_Date, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.pl_Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                    @Html.ValidationMessageFor(model => model.pl_Date, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pl_Category" class="control-label col-md-2">Category</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("pl_Category", null, "-- Select Category --", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.pl_Category, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pl_Payment" class="control-label col-md-2">Payment</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.pl_Payment, new SelectList(new[] { "Bank", "Cash" }), "-- Select Payment --", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.pl_Payment, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.pl_LandlordId, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("pl_LandlordId", null, "-- Select Landlord --", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.pl_LandlordId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.pl_Amount, "Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.pl_Amount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.pl_Amount, "", new { @class = "text-danger" })
                                    <span class="text-sm text-danger">@ViewBag.Error</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pl_Receipt" class="control-label col-md-2">Receipt</label>
                                <div class="col-md-10">
                                    @Html.TextBox("file", "", new { type = "file", @class = "formcontrol" })
                                    @Html.ValidationMessageFor(model => model.pl_Receipt, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <br />
                            <br />
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("Return", "Index", null, new { @class = "btn btn-outline-dark" })
                                <input type="submit" value="Create" class="btn btn-dark-blue " />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    // Get the input element for the calendar control
    var dateInput = document.getElementById("pl_Date");

    // Get the current date and format it as "YYYY-MM-DD" for comparison
    var currentDate = new Date().toISOString().split("T")[0];

    // Set the max attribute of the input element to prevent selection of dates after the current date
    dateInput.setAttribute("max", currentDate);

    // Attach an event listener to the input element to validate the selected date
    dateInput.addEventListener("change", function (event) {
        var selectedDate = event.target.value;

        // Compare the selected date with the current date
        if (selectedDate < currentDate) {
            // Clear the selected date if it is a past date
            event.target.value = "";
        }
    });
</script>


