@model Project_AkmalRentals.Models.tb_floor

@{
    ViewBag.Title = "Delete";
}
<style>
    .column1 {
        width: 200px;
    }

    .column2 {
        width: 50px;
    }
    /* Add more CSS rules for other columns as needed */
</style>
<div class="container py-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-dark-blue text-white">
                    <h6 class="card-title text-uppercase text-white mb-0">Are you sure you want to delete this?</h6>
                </div>
                <div class="card-body px-0 pb-2" style="margin-left: 30px;">
                    <div class="table-responsive p-0">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Floor</th>
                                    <td>@Html.DisplayFor(model => model.y_floor)</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>@Html.DisplayFor(model => model.y_desc)</td>
                                </tr>
                                <tr>
                                    <th>CCTV QR</th>
                                    <td>@Html.DisplayFor(model => model.y_cctvqr)</td>
                                </tr>
                            </tbody>
                        </table>

                        <br />
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                @Html.ActionLink("Return", "Index", null, new { @class = "btn btn-outline-dark" })
                                <input type="submit" value="Delete" class="btn btn-dark-blue" />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
