@model Project_AkmalRentals.Models.tb_expenses

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-dark shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Edit Expenses</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2" style="margin-left: 30px;">
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.e_id)

                        <div class="form-group">
                            <label for="e_Type" class="control-label col-md-2">Type</label>
                            <div class="col-md-10">
                                <select id="e_Type" name="e_Type" class="form-control">
                                    <option value="Income">Income</option>
                                    <option value="Expenses">Expenses</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.e_Type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="e_Date" class="control-label col-md-2">Date</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.e_Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                @Html.ValidationMessageFor(model => model.e_Date, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="e_Category" class="control-label col-md-2">Category</label>
                            <div class="col-md-10">
                                @Html.DropDownList("e_Category", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.e_Category, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="e_Payment" class="control-label col-md-2">Payment</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.e_Payment, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.e_Payment, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="e_Detail" class="control-label col-md-2">Detail</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.e_Detail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.e_Detail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="e_Amount" class="control-label col-md-2">Amount</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.e_Amount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.e_Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn bg-gradient-dark" />
                                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-outline dark" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
